@font-face {
  font-family: "Open Sauce One Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Open Sauce One Regular"),
    url("../../assets/fonts/OpenSauceOne-Regular.woff") format("woff");
}
