main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2em;
}

.intro {
  height: 80vh;
}

.projects {
  height: 100vh;
  background-color: rgb(6, 127, 89);
}

.contact {
  height: 30vh;
  background-color: rgb(6, 127, 89);
}

.container {
  position: relative;
}

h1 {
  font-family: "Open Sauce One Regular";
}
