.heroContainer {
  display: grid;
  grid-template-columns: 3fr 2fr;
  height: fit-content;
  gap: 20px;
  overflow: hidden;
}

.profileImage {
  width: 100%;
  height: 100%;
  max-height: 60vh;
  border-radius: 2em;
  overflow: hidden;
}

.profileImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.introduction {
  height: 100%;
}

@media (max-width: 768px) {
  .heroContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 80vh;
  }

  .heroContainer .introduction {
    order: 2;
  }

  .heroContainer .profileImage {
    order: 1;
  }
}
