.heroContainer {
  display: grid;
  grid-template-columns: 6fr 3fr;
  gap: 20px;
  min-height: 450px;

  div {
    border-radius: 2em;
  }
}

.introduction {
  height: 100%;
}

.profileImage {
  background-color: rgb(15, 109, 192);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .heroContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    flex-direction: column;
    height: 100%;
  }

  .heroContainer .introduction {
    order: 2;
  }

  .heroContainer .profileImage {
    order: 1;
  }

  .profileImage {
    max-height: 40vh;
  }
}
